$color-primary: #2b374c;
$color-primary-dark: darken($color-primary, 10%);
$color-accent: #f4bf2a;

$color-background: #2b374c;
$color-text: #fff;
$color-text-light: #ccc;
$color-border: rgba(0, 0, 0, 0.125);
