// imports

@import 'variables';
@import 'responsive';

// reset

*,
*:after,
*:before {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// global

body {
  align-items: center;
  background: $color-background;
  color: $color-text;
  cursor: default;
  display: flex;
  flex-direction: column;
  font: normal 1em/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  justify-content: center;
  min-height: calc(100vh - 4em * 2);
  margin: 4em 2em;
  text-align: center;
}

a {
  color: $color-accent;
  text-decoration: none;
  transition: 300ms;

  &:active,
  &:hover {
    color: $color-primary;
  }
}

h1,
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

img {
  border: none;
  max-width: 100%;
}

// layout

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 1rem 0;
  }

  h3 {
    line-height: 1.4;
  }
}

main {
  margin: 2em 0;

  section {
    margin: 2em 0;

    &.download {
      align-items: center;
      display: flex;
      justify-content: center;

      a {
        align-items: center;
        background: $color-primary-dark;
        border-radius: 0.25em;
        display: flex;
        justify-content: center;
        padding: 0.5em 1em;

        &:hover {
          color: $color-text;
        }

        &:before {
          background-position: center;
          background-repeat: no-repeat;
          background-size: 2em;
          content: '';
          height: 2em;
          margin-right: 0.5em;
          width: 2em;
        }

        &.apple {
          &:before {
            background-image: url('../img/store/apple.svg');
          }
        }

        &.google {
          &:before {
            background-image: url('../img/store/google.svg');
          }
        }
      }
    }

    &.screenshots {
      align-items: center;
      display: flex;
      justify-content: center;

      figure {
        padding: 1em;
        position: relative;

        &:after,
        &:before {
          background: $color-primary;
          content: '';
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 0;
        }

        &:after {
          bottom: 0;
          height: 2em;
        }

        &:before {
          height: 3em;
          top: 0;
        }

        img {
          &:first-child {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 2;
          }

          &:last-child {
          }
        }
      }
    }
  }
}

footer {
  font-size: 0.875em;

  p {
    color: $color-text-light;
  }

  aside {
    display: flex;
    margin-top: 1em;

    a {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.5em auto;
      height: 2em;
      opacity: 0.25;
      width: 2em;

      &:active,
      &:hover {
        opacity: 1;
      }

      &:not(:first-child) {
        margin-left: 1em;
      }

      &.dribbble {
        background-image: url('../img/social/dribbble.svg');
      }

      &.github {
        background-image: url('../img/social/github.svg');
      }

      &.twitter {
        background-image: url('../img/social/twitter.svg');
      }
    }
  }
}
