.home {
  header {
    align-items: center;
    display: flex;

    img {
      height: 4em;
    }

    h1 {
      color: #fff;
      margin: 0 0 0 1em;
    }
  }

  main {
    margin: 2em 0;

    section {
      margin: 4em 0 0;

      .app-store,
      .google-play,
      .github,
      .twitter {
        align-items: center;
        display: flex;
        margin: 1em 0;

        &:before {
          background-repeat: no-repeat;
          background-size: 100%;
          content: '';
          height: 2em;
          margin-right: 1em;
          width: 2em;
        }
      }

      .app-store:before {
        background-image: url('../../assets/app_store.svg');
      }

      .google-play:before {
        background-image: url('../../assets/google_play.svg');
      }

      .github:before {
        background-image: url('../../assets/github.svg');
      }

      .twitter:before {
        background-image: url('../../assets/twitter.svg');
      }
    }
  }
}
