// reset

*,
*:after,
*:before {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// global

a {
  color: #f4bf2a;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    color: #fff;
  }
}

body {
  background: #2b374c;
  color: #fff;
  cursor: default;
  font: normal 1em/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: #f4bf2a;
  margin: 1em 0;
}

p {
  line-height: 1.4;
  margin: 1em 0;
}
